 <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Hakkımda</h1>
                            <span class="subheading">Merhaba...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                           Mehmet Sunay  26 Ocak 1987 tarihinde Akdeniz'in şirin kenti Antalya'da dünyaya gelmis ilk ve orta öğrenimini İstanbul İzmir Zonguldak ve Antalya'da  lisans eğitimini ise Bulgaristan Varna Teknik Üniversitesi'nde Bilgisayar Mühendisliği bölümünde tamamlamıştır Bu süre zarfinda farkli eğitim ve çalışma programlarlıyla USA ve Polonya gibi ülkere gitmiştir Ayrıca uzun yillar çesitli bölgesel ve uydu  radyo -  tv kanallarında farklı formatlarda programlar hazırlamıştır Son olarak Akdeniz Tv de yayınlanan Alternatif Enerji isimli yapımı ekranlara taşırken Kumsal FM'de de Music Plus Programıyla dinleyicileriyle buluşmuştur
       Ayrıca okul öncesi dönemi çocuklarının yabancı dil öğrenimi için hazırladığı projeleri özel bir eğitim kurumunda hayata geçirmiş ve birçok başarıya imza atmıştır Son günlerde yayına başlayan  blog aracılığıyla da yazılım web tasarım ve teknolojik gelişmeler alanlarında bircok konuya açıklık getirilen  makalelerin, online derslerin yanisira hayata dair köşe yazılarının da yer alacağı bir platformda sizlerle olacaktır...
                        </p>
                    </div>
                </div>
            </div>
        </main>